

body{
    background-color: rgb(84, 37, 37);
}


img{

    border: 5px solid rgb(248, 248, 248);
    width: 100%;
}

h1{
    text-transform: uppercase;
    font-size: 2rem;
}
#lp{
    font-size: 10px;

}

#box {
    width:  90%;
    height: 60%;

    margin-left: 5%;
    margin-top: 100px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
  } 